<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{site.baseurl}}/assets/img/compPet.svg" alt="{{site.name}}">
        <p class="def">CompPET</p>
        <p class="desc">publicado por  {{ page.author-post}} </p>
        <!-- <p class="desc">
            Autor: { page.blog-author}
        </p> -->
        <!-- <p><a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a></p> -->
        <p><a itemprop="github" class="github" href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a></p>
        
    </div>
</section>
