
<div style="margin-bottom: -2rem; margin-left: 1rem">
    <a href="http://www.comppet.ufu.br/" target="_BLANK"><img class="logopet" height="100" src="{{ "/assets/img/logopet.svg" | prepend: site.baseurl }}" alt="logo do compPET"></a>
</div>


<footer>
    <p>Desenvolvido por <a style="font-weight: 800; font-size: 18px;" href="http://www.comppet.ufu.br/" target="_BLANK" rel="noreferrer">compPET</a>
        em 2019</p>	
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
