.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)
        
    #disqus_thread
        margin-bottom: rem(30px)    

footer
    background #2F3780
    padding rem(25px) 0
    // margin-top 100px
    a:hover
        opacity .8

    
    p,a
        text-decoration none
        mainFont(300)
        color sec
        text-align center
        margin 0


.logopet{
    transition .4s all linear
}

.logopet:hover{
    opacity .8
    // transform: translate(360deg)
}