<!DOCTYPE html>
<html
  lang="pt-br"
  itemscope
  itemtype="http://schema.org/BlogPosting"
  {%
  if
  page.main-class
  %}class="post-{{ page.main-class }}"
  {%
  endif
  %}
>
  {% include head.html %}
  <body>
    {% include svg-icons.html %} {% include header-post.html %}
    <section class="post">
      <article
        role="article"
        id="post"
        class="post-content"
        itemprop="articleBody"
      >
        {{ content }}
      </article>

      {% include share.html %} {% include author.html %} {% if page.comments !=
      false %} {% include comments.html %} {% endif %} {% include footer.html %}
    </section>

    <!-- Parse the Latex divs with Katex-->
    <script type="text/javascript">
      $("script[type='math/tex']").replaceWith(function () {
        var tex = $(this).text();
        return katex.renderToString(tex, { displayMode: false });
      });

      $("script[type='math/tex; mode=display']").replaceWith(function () {
        var tex = $(this).text();
        return katex.renderToString(tex.replace(/%.*/g, ""), {
          displayMode: true,
        });
      });
    </script>
  </body>
</html>
